# Environment files
.env
.env.local

# IDE files
.vscode/
.idea/

# Dependency directories
/vendor/
/node_modules/

# Log files
*.log

# Database backups
*.sql.gz
*.bak

# Cache and temporary files
/cache/
/temp/